:host {
  // --background-color: tomato;
  // --color: dodgerblue;
}

.second {
  --background-color: purple;
  --color: white;
  --font-size: 24px;
}
.third {
  --background-color: dodgerblue;
  --color: white;
  --font-size: 36px;
}

.item {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  transition: all 0.3s ease;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
