<router-outlet></router-outlet>

<!-- <app-comment-drawer
  [isOpen]="isDrawerOpen"
  (closed)="isDrawerOpen = false"
></app-comment-drawer> -->

<!-- <button (click)="isDrawerOpen = !isDrawerOpen">Toggle</button> -->

<!-- <app-list-item title="First Title"></app-list-item>
<app-list-item title="Second Title" class="second"></app-list-item>
<app-list-item title="Third Title" class="third"></app-list-item> -->

<!-- <app-page>
  <page-header>
    <span>My custom header</span>
  </page-header>

  <page-content>
    <app-dropdown [items]="items" [itemTemplate]="itemTemplate"></app-dropdown>
  </page-content>

  <page-footer>
    <span>My custom header</span>
  </page-footer>
</app-page>

<ng-template #itemTemplate let-item="item">
  <div class="item">
    <span>{{ item.label }} - {{ item.value }}</span>
  </div>
</ng-template> -->
